<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Uri, that program will make request to eg http://localhost:8080/order -->
    <add key="server-host" value="http://localhost:8080/"/>
    <!-- Relative URI path to research order service. Total uri will be composed of ${server-host} parameter and this parameter eg http://localhost:8080/order -->
    <add key="order-service" value="order"/>
    <!-- Time which deteremines query frequency when taking research orders-->
    <add key="order-query-interval-millis" value="1000"/>
    <!-- Relative URI path to xsd resource-->
    <add key="xsd-service" value="xsd"/>
    <!-- Relative URI path for putting log resource to server-->
    <add key="log-service" value="log"/>
  </appSettings>
</configuration>